body{
    margin  : 0px;
    padding : 0px;
    font-family : 'Courier New', Courier, monospace;
    color   : #4C5454
}

section h1{
    font-size: 22px;
    padding-Left : 20px;
    
}

section h2{
    font-size: 20px;
    padding-left : 50px;
}

section p{
    padding-left : 50px;
}

img{
    float  : right;
    width  : 400px;
}

section ul{
    padding-left;
}

section ol{
    padding-left;
}